.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 2em;
}

.Header {
  grid-area: header;
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 2em;
}

.CardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.SpecialCard {
  width: 18vw;
  height: 18vw;
  border: .2em solid #DAA520;
}